.nav nav
{
    background-color: rgb(131, 135, 135);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
}

.nav .logo
{
    display: flex;
    text-align: center;

}

.nav .logo .imglogo
{
    margin: 20px;
    box-shadow: 0 0 20px chocolate;
    
}
.nav .logo .insi
{
    font-size: 20px;
    margin-right: 20px;
    text-align: center;
    margin-top: 50px;
}

.nav nav .menu ul
{
    display: flex;
    text-decoration: none;
    align-items: center;
    outline: none;
    text-align: center;
    justify-content: space-between;
}

.nav nav .menu ul p
{
    display: flex;
    text-decoration: none;
    align-items: center;
    text-align: center;
    margin-right: 80px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.nav nav .menu ul p:hover
{
    cursor: pointer;
    color: rgb(245, 250, 248);
    border: 3px solid rgb(16, 11, 87);
    padding: 15px;
    border-radius: 30px;
}

.centre
{
    background-image: url(photo-1606761568499-6d2451b23c66.avif);
    text-align: center;
    height: 750px;
    background-repeat: repeat;
    position: sticky;
    box-shadow: 0 0 30px white;
}

.centre .img p
{
    flex-direction: column;
    font-size: 200px;
    color: rgb(12, 148, 21);
    margin-top: 0px;
    text-align: center;
}

.centre .img p
{
    animation-name: titre;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes titre
{
    from{color: blue;color: blueviolet;}
    to{color: green;color: chartreuse;}
}
